.container {
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.left, .center, .right {
    border: 5px solid black;
}

.center {
    width: 950px;
    height: 1500px;
    background-color: rgba(20, 20, 20, 0.8);
}

.left, .right {
    flex: 1;
}

.left {
    background-color: transparent;
}

.right {
    background-color: transparent;
}