<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <script src="/static/home.js" defer></script>
    <title>Marvel Rivals clips</title>
</head>
<body>
    <div class="title">
        <h1>My best clips from Marvel Rivals</h1>
    </div>
    <div class="container">
        <div class="hero adam"><button class="clickable-image" data-name="Adam Warlock"> <img src="/static/assets/adam-warlock.jpg" alt="Adam Warlock"></button></div>
        <div class="hero tchala"><button class="clickable-image" data-name="Black Panther"> <img src="/static/assets/black-panther.jpg" alt="black panther"></div>
        <div class="hero natasha"><button class="clickable-image" data-name="Black Widow"> <img src="/static/assets/black-widow.jpg" alt="black widow"></div>
        <div class="hero captain"><button class="clickable-image" data-name="Captain America"> <img src="/static/assets/captain-america.jpg" alt="captain america"></div>
        <div class="hero cad"><button class="clickable-image" data-name="Cloak and Dagger"> <img src="/static/assets/cloack-and-dagger.jpg" alt="cloak and dagger"></div>
        <div class="hero strange"><button class="clickable-image" data-name="Doctor Strange"> <img src="/static/assets/doctor-strange.jpg" alt="doctor strange"></div>
        <div class="hero groot"><button class="clickable-image" data-name="Groot"> <img src="/static/assets/groot.jpg" alt="groot"></div>
        <div class="hero hawkeye"><button class="clickable-image" data-name="Hawkeye"> <img src="/static/assets/hawkeye.jpg" alt="hawkeye"></div>
        <div class="hero hela"><button class="clickable-image" data-name="Hela"> <img src="/static/assets/hela.jpg" alt="hela"></div>
        <div class="hero hulk"><button class="clickable-image" data-name="Hulk"> <img src="/static/assets/hulk.jpg" alt="hulk"></div>
        <div class="hero sue"><button class="clickable-image" data-name="Invisible Woman"> <img src="/static/assets/invisible-woman.jpg" alt="invisible woman"></div>
        <div class="hero iron-fist"><button class="clickable-image" data-name="Iron Fist"> <img src="/static/assets/iron-fist.jpg" alt="iron fist"></div>
        <div class="hero iron-man"><button class="clickable-image" data-name="Iron Man"> <img src="/static/assets/iron-man.jpg" alt="iron man"></div>
        <div class="hero jeff"><button class="clickable-image" data-name="Jeff the Land Shark"> <img src="/static/assets/jeff.jpg" alt="jeff the land shark"></div>
        <div class="hero loki"><button class="clickable-image" data-name="Loki"> <img src="/static/assets/loki.jpg" alt="loki"></div>
        <div class="hero luna"><button class="clickable-image" data-name="Luna Snow"> <img src="/static/assets/luna.jpg" alt="luna snow"></div>
        <div class="hero magik"><button class="clickable-image" data-name="Magik"> <img src="/static/assets/magik.jpg" alt="magik"></div>
        <div class="hero magneto"><button class="clickable-image" data-name="Magneto"> <img src="/static/assets/magneto.jpg" alt="magneto"></div>
        <div class="hero mantis"><button class="clickable-image" data-name="Mantis"> <img src="/static/assets/mantis.jpg" alt="mantis"></div>
        <div class="hero fantastic"><button class="clickable-image" data-name="Mister Fantastic"> <img src="/static/assets/mister-fantastic.jpg" alt="mister fantastic"></div>
        <div class="hero moon-knight"><button class="clickable-image" data-name="Moon Knight"> <img src="/static/assets/moon-knight.jpg" alt="moon knight"></div>
        <div class="hero namor"><button class="clickable-image" data-name="Namor"> <img src="/static/assets/namor.jpg" alt="namor"></div>
        <div class="hero peni"><button class="clickable-image" data-name="Peni Parker"> <img src="/static/assets/peni-parker.jpg" alt="peni parker"></div>
        <div class="hero psylocke"><button class="clickable-image" data-name="Psylocke"> <img src="/static/assets/psylocke.jpg" alt="psylocke"></div>
        <div class="hero punisher"><button class="clickable-image" data-name="Punisher"> <img src="/static/assets/the-punisher.jpg" alt="the punisher"></div>
        <div class="hero rocket"><button class="clickable-image" data-name="Rocket Raccoon"> <img src="/static/assets/rocket-raccoon.jpg" alt="rocket raccoon"></div>
        <div class="hero wanda"><button class="clickable-image" data-name="Scarlet Witch"> <img src="/static/assets/scarlet-witch.jpg" alt="scarlet witch"></div>
        <div class="hero squirrel"><button class="clickable-image" data-name="Squirrel Girl"> <img src="/static/assets/squirrel-girl.jpg" alt="squirrel girl"></div>
        <div class="hero peter"><button class="clickable-image" data-name="Spider Man"> <img src="/static/assets/spider-man.jpg" alt="spider man"></div>
        <div class="hero star-lord"><button class="clickable-image" data-name="Star Lord"> <img src="/static/assets/star-lord.jpg" alt="star lord"></div>
        <div class="hero storm"><button class="clickable-image" data-name="Storm"> <img src="/static/assets/storm.jpg" alt="storm"></div>
        <div class="hero thor"><button class="clickable-image" data-name="Thor"> <img src="/static/assets/thor.jpg" alt="thor"></div>
        <div class="hero venom"><button class="clickable-image" data-name="Venom"> <img src="/static/assets/venom.jpg" alt="venom"></div>
        <div class="hero bucky"><button class="clickable-image" data-name="Winter Soldier"> <img src="/static/assets/winter-soldier.jpg" alt="Winter Soldier"></button></div>
        <div class="hero logan"><button class="clickable-image" data-name="Wolverine"> <img src="/static/assets/wolverine.jpg" alt="wolverine"></div>
    </div>
</body>
</html>